.sectionContainer {
  margin-top: 40px;
  padding: 0 32px;
  width: 100%;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  margin: 0;
}

.collapseButton {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  background: none;
  border: none;
  color: #34C94B;
  cursor: pointer;
}


.collapseButton:hover {
  background-color: var(--color-primary);
  color: var(--color-black);
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; /* Prevents wrapping if you want scroll */
  gap: 40px;
  overflow-x: auto; /* Optional for scrollable section */
  width: 100%;
  padding-bottom: 10px;
}
